mixin item(title, place, from_date, to_date)
  .blocks
    .date
      if from_date
        span= from_date
      if to_date
        span= to_date
    .decorator
    .details
      header
        h3= title
        if place
          span.place= place
      .description
        block


mixin nav_link(icon_class, label_text, href)
  li
    a.icon(class=icon_class, href=href)
      span.label= label_text
